body {
    background-color: #EC8;
    margin-left: 64px;
    margin-right: 64px;
}

h1, h2, h3, h4, h5, h6 {
    color: #247;
}

h1 {
    font-size:  60px;
}

h2 {
    font-size:  48px;
}

h3 {
    font-size:  32px;
}

h4 {
    font-size:  18px;
}

p {
    color: #521
}

section {
    border: 1px solid #521;
    background-color: #f86;
}

a {
    color: darkgoldenrod;
}

a:hover {
    color: goldenrod;
}

a:visited {
    color: gray;
}

button {
    background-color: darkgoldenrod;
    color: white;
}

button:hover {
    background-color: goldenrod;
}

input:focus, textarea:focus, select:focus {
    background-color: lightyellow;
}

li:last-child {
    font-style: italic;
}